In [1]:
import pandas as pd
from sqlalchemy import create_engine
# create_engine来连接数据库，test是要连接的数据库名称，charset=utf8是数据库的编码格式
engin = create_engine("mysql+pymysql://root:123456@127.0.0.1:3306/test?charset=utf8")

In [2]:
engin

Engine(mysql+pymysql://root:***@127.0.0.1:3306/test?charset=utf8)

In [10]:
# 读取数据库数据
# 第一种读取数据的方法：pd.read_sql_table用来直接读取数据库中的表的内容，con表示要读取的数据库，test01是要读取的表的名称
pd.read_sql_table("test01", con=engin) 
# 第二种读取数据的方法：pd.read_sql_query表示用sql语句来查询指定的表，这里表示查询engin连接的数据库中表格名为test02的所有数据
pd.read_sql_query("select * from test02", con=engin)
# 第三种读取数据的方法：pd.read_sql可以用sql语句读取指定的内容
pd.read_sql("select * from test04", con=engin)

        1
0  test04

In [14]:
# 将数据保存到指定的列表种并存储到数据库中
data1 = pd.read_sql("select * from test02", con=engin)
# to_sql可以将数据保存到数据库中,temp01为保存到的表名，con属性是要保存到的数据库，if_exists表示如果要保存的表名已经存在就替换原先的表面滚
data1.to_sql("temp01", con=engin, if_exists="replace")

In [22]:
# 读取文本数据
# read_table可以直接读取文件，第一项表示要读取的文件，encoding表示编码格式，sep为设置分割符
# pd.read_table("../day06/data/data/meal_order_info.csv", encoding="gbk", sep=",")
# pd.read_csv("../day06/data/data/meal_order_info.csv", encoding="gbk")  # read_csv可以直接读取csv格式的文件

In [31]:
data2 = pd.read_csv("../day06/data/data/meal_order_info.csv", encoding="gbk")
# index = False表示把index这一列去掉然后保存到数据库中
data2.to_sql("meal_order_info", con=engin, if_exists="replace", index = False)
# to_csv表示把数据保存为csv格式的数据，./tmp/meal_order_info.csv表示要保存为的地址
data2.to_csv("./tmp/meal_order_info.csv", index=False)

In [46]:
# 读取excel文件
data3 = pd.read_excel("../day06/data/data/meal_order_detail.xlsx")  # pd.read_excel可以读取excel文件
# data3.to_excel("./tmp/meal_order_detail2.xlsx", index=False)
data3.to_excel("./tmp/meal_order_detail4.xlsx", index=False, sheet_name = "a")  # sheet_name可以设置工作表的名字
# 使用这种语法结构可以同时在一个表中创建两个工作表，这里的w就是要保存的表的路径
with pd.ExcelWriter("./tmp/meal_order_detail5.xlsx") as w:  
    data3.to_excel(w, sheet_name="a")
    data3.to_excel(w, sheet_name="b")