#### 正则表达式的使用

In [9]:
import re  # 使用正则需要导入的库

string = '1. A small sentence. - 2. Another tiny sentence. '
# findall方法可以寻找指定的内容，这里为寻找string下的sentece，可以返回要查找的内容，如果有多个都会返回，返回的类型是一个列表
# re.findall('sentence', string)
# search方法可以寻找指定的内容，这里为寻找string下的sentece，可以返回要查找的内容(但只会返回第一个要查找的内容，并返回指定的位置信息)表
# re.search('sentence', string)
# sub方法可以用于替换指定的内容，三个属性分别为被替换掉的内容、替换为的内容、替换的文件
re.sub(pattern='small', repl='large', string=string)  
re.sub(pattern='small', repl='', string=string)

'1. A  sentence. - 2. Another tiny sentence. '

In [23]:
string = 'small smell smll smsmll sm3ll sm.ll sm?ll sm\nll sm\tll sm-ll sm123ll'

# re.findall('sm.ll', string)  # 这里的.表示一个除\n任意字符，这里查找sm开头，ll结尾且中间一个字符为任意的字符，但.不能替换\n
# re.findall('sm[aesdbf]ll', string)  # [asdbf]这里[]内的字符都可以被匹配
# re.findall('sm[a-zA-Z0-9]ll', string)  # 这里表示匹配所有的小写字母、大写字母就以及0~9的数字
# re.findall('sm\.ll', string)  # \.表示.
# re.findall('sm[.\- ?]ll', string)  # 如果要匹配-这个字符，也要用\-来表示
# re.findall('small|smell', string)  # |表示或者的意思
# re.findall('sm\wll', string)  # \w表示所有数字和字母的集合

In [33]:
# re.findall('sm..ll', string)  # ..表示两个任意符号
# re.findall('sm.{2}ll', string)  # .{2}表示.出现两次,等价于..
# re.findall('sm.{1,2}ll', string)  # .{1,2}表示.出现一次或者两次
# re.findall('sm.{1,}ll', string)  # .{1,}表示.出现一次以上
# re.findall('sm.?ll', string)  # {0,1}  # .?表示.可以被匹配0次或者1次
# print(re.findall('sm.+ll', string))  # {0,}  # .+表示.可以匹配任意次数
# print(re.findall('sm.*ll', string))  # {1,}  # .*表示可以被匹配1次或者以上
re.findall('sm\?ll', string)  # \?表示?

['sm?ll']

In [ ]:
555-1239
Moe Szyslak
(636) 555-0113
Burns, C.Montgomery
555-6542
Rev. Timothy Lovejoy
555 8904
Ned Flanders
636-555-3226
Simpson,Homer
5553642
Dr. Julius Hibbert

In [39]:
import pandas as pd
rawdata = '555-1239Moe Szyslak(636) 555-0113Burns, C.Montgomery555-6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson,Homer5553642Dr. Julius Hibbert'
names = re.findall('[A-Z][A-Za-z,\. ]*', rawdata)  # 这里表示为第一个字母为大写字母,后面为大写字母/小写字母/空格/,/其它任意字符
# \(?表示(被匹配0次或者1次
# [0-9]{0,3}表示0~9的数字出现0次或者3次
# [ \-]? 表示空格或者-匹配0次或者1次
tels = re.findall('\(?[0-9]{0,3}\)?[ \-]?[0-9]{3}[ \-]?[0-9]{4}', rawdata)
pd.DataFrame({'Names': names, 'TelPhone': tels})  # 设置数据框

                  Names        TelPhone
0           Moe Szyslak        555-1239
1   Burns, C.Montgomery  (636) 555-0113
2  Rev. Timothy Lovejoy        555-6542
3          Ned Flanders        555 8904
4         Simpson,Homer    636-555-3226
5    Dr. Julius Hibbert         5553642