In [19]:
import pandas as pd
from sqlalchemy import create_engine
engin = create_engine("mysql+pymysql://root:123456@127.0.0.1:3306/test?charset=utf8mb4")
data = pd.read_sql("meal_order_detail1", con=engin)
# a = data.iloc[:, :10]  # 表示读取所有行的前十列数据
# b = data.iloc[:, 10:]
# pd.concat([a, b], axis=1, join="outer")  # concat用来堆叠，axis=1表示横向堆叠，join="outer"表示按并集进行堆叠
# c = data.iloc[:100, :]
# d = data.iloc[100:, :]
# pd.concat([c, d])  # concat默认的堆叠方式是纵向堆叠，默认是并集进行堆叠
order = pd.read_sql("meal_order_info", con=engin)
# 主键类型不同的两个表不能进行合并
# order["info_id"].dtype  # 发现info_id是int类型
# data["order_id"].dtype  # 发现order_id的类型是字符串类型(0表示字符串类型)
order["info_id"] = order["info_id"].astype(str)  # 使用astype方法将int类型转换为字符串类型
pd.merge(order, data, left_on="info_id", right_on="order_id")  # left_on表示左边要连接的主键，right_on表示右边要连接的主键
# rename方法可以修改列名，inplade属性表示将修改应用到原数据，即data被修改，默认inplace的值为false
# data.rename({"order_id": "info_id"}, inplace=True)

E:\pycharm\anaconda\installFile\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 518")
  result = self._query(query)

(945, 21)

In [37]:
import numpy as np
dist1 = {"id": range(1, 4), "cpu":["i3", np.nan, "i9"], "num":[1, 2, 3]}  # 创建一个表格用键值对的方式进行创建
a = pd.DataFrame(dist1)  # DataFrame表示转换为数据框格式(就是输出为表格的样式)
b = pd.DataFrame({"id":range(1, 4), "cpu":[np.nan, "i5", "i7"]})  # np.nan表示缺失值
# combine_first可以将两个表进行合并，对于行名和列名相同的部分进行合并(缺失值被具体值填补，不同的部分以调用combine_first的表为主)
a.combine_first(b)

  cpu  id  num
0  i3   1    1
1  i5   2    2
2  i9   3    3